.main-container{
    display: flex;
    justify-content: space-around;
}
.item-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 16px;
    width: 100%;
    margin: auto;
    text-align: center;
}

.cart-container{
    width: 30%;
    box-shadow: 4px 4px 8px rgb(166, 194, 227);
    text-align: center; 
    color: rgb(85, 171, 218);
}
.orders{
    display: flex;
    justify-content: space-around;
}